body {
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
}

h1 {
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
  padding-left: 10px;
}

p {
  text-align: justify;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 550;
}

.white {
  color: white;
}

.orange {
  color: #fabb6e;
}

.text {
  text-align: left;
}

.targetleft {
  width: 60%;
  padding: 10px;
  margin-left: 15%;
  margin-top: 5%;
}

.targetright {
  width: 60%;
  padding: 10px;
  margin-right: 15%;
  margin-top: 5%;
}

.right-image {
  width: 300px;
  float: right;
  padding-top: 40px;
}

#right-image {
  width: 500px;
  float: right;
  padding-top: 40px;
  margin-top: 50px;
}

.left-image {
  width: 400px;
  float: left;
  padding-top: 40px;
}

.small-image {
  width: 150px;
}

.flex {
  display: flex;
}

.goals {
  width: 33%;
  padding: 10px;
}

.width {
  width: 100%;
}

.box1 {
  background-color: #fabb6e;
  padding: 5px;
  border-radius: 15px;
  margin-right: 5px;
}

.box2 {
  background-color: #a1fa6e;
  padding: 5px;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.box3 {
  background-color: #6efaf3;
  padding: 5px;
  border-radius: 15px;
  margin-left: 5px;
}

.margin {
  margin-bottom: 25px;
}

.margin2 {
  margin: 10px;
}
#footer-bg {
  background-color: #fabb6e;
  height: 100px;
  margin: 0px;
  text-align: center;
  font-size: 40px;
}
.border {
  border-left: 5px solid;
  border-image: linear-gradient(#ffb997, #fabb6e);
  border-image-slice: 1;
}

.link {
}
.button {
  text-decoration: none;
  color: #0b032d;
  background-image: linear-gradient(#fabb6e, #ffb997);
  padding: 10px 40px;
  border-radius: 5px;
}

#left-image {
  width: 400px;
  float: left;
  margin-top: -20px;
}
.center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: aquamarine;
  text-align: center;
  margin: 10px;
}
